.category-circle{
    transition: all 0.2s ease-in;
}
body{
    background-color: #fefefe;
}
p ,body , input , .form-control{
    font-size: 14px;
}
h6{
    font-size: 15px;
}
.navbar{
    box-shadow: grey 0 0 5px;
}
.navbar .nav-item{
    font-size: 12px;
}

.demand-item{
    list-style: none;
    display: block;
    border-left: 5px solid #0275d8;
    padding-left: 10px;
    margin-bottom: 10px; 
}
.demand-item .information{
    color: grey;
    position: relative;
}
.demand-item .information .poster{
}
.demand-item .information .date{
    position: absolute;
    top: 0;
    right: 0;
}
.pagination-container{
    margin-top: 30px;
    position: relative;
}
.pagination-container .all{
    position: absolute;
    top:0;
    right: 0; 
}
.category-selector ul{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    width:100%;
    display: table;
}
.category-selector ul li{
    display: table-cell;
    list-style: none;
    width: 50%;
}
.category-circle{
    background-color: #dcdcdc;
    color: #9c9c9c;
    padding: 10px;
    text-align: center;
}
.category-circle:hover{
    cursor: pointer;
}
.category-circle.active{
    background-color:#0275d8;
    color: white;
}
.category-circle:hover{
    color: white;
    background-color: #025aa5;
}
