<nav class="navbar navbar-toggleable-md  navbar-light bg-faded fixed-top">
        
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container">
          <a class="navbar-brand" href="#">ATS-DEV</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" ui-sref="home">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" ui-sref="allRequests">BROWSE REQUESTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MAKE A REQUEST</a>
              </li>
            </ul>
            <form class="mt-2 mt-md-0">
  
              <!-- regular user -->
              <ul ng-if="!$root.user" class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#" ui-sref="login">LOGIN</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" ui-sref="register">REGISTER</a>
                  </li>
                  <li class="nav-link">{{user.firstname}}</li>
              </ul>
  
              <!-- User loggedin -->
              
              <ul ng-if="$root.user" class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#" ui-sref="message">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>     
                        MESSAGES</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" ui-sref="profile">
                        <i class="fa fa-user-o" aria-hidden="true"></i>   
                        {{$root.user.firstname + " " + $root.user.lastname | uppercase}}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" ng-click="vm.logout($event)">LOGOUT</a>
                  </li>
              </ul>
            </form>
          </div>
        </div>
        </nav>